[submodule "1_ega/2_workspace/mcp4725"]
	path = 1_ega/2_workspace/mcp4725
	url = https://github.com/AleeGallo/mcp4725.git
[submodule "1_ega/2_workspace/ds3231"]
	path = 1_ega/2_workspace/ds3231
	url = https://github.com/AleeGallo/ds3231.git
